/*by element name*-/
div{

}

/*by id*-/
#test{

}

/*by class*-/
.extra{

}
/*id>class>element*-/


selector{
    propertyname: value;
}*/

body{
    font-family: verdana, sans-serif;
    font-size: 14px;
    /*color: #4F545F;*/
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
}
.info{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
h2{
    background-color: #0f6172 ;    
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
fieldset{
    /*border: 2px dashed #DDDDDD;*/
    border-color: #286672;
    margin: 20px;
    padding: 10px;
    text-align: center;

}
img{
    size: 100px;
}
legend{
    font-weight: 900;
}

fieldset > span{
    background-color: chocolate;
    color: blanchedalmond;
    padding: 10px 40px;
    border: 1px solid #203850;
    display: block;
}

.clickable{
    padding: 10px 20px;
    margin-left: 15px;
    color: white;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
}
.clickable:hover{
    cursor: pointer;
    /*opacity: .8;*/
}

ul {
   /*background-color: #cccccc; */
   overflow: auto;
   /*list-style: none;*/
   list-style: square;
   margin: 5;
   padding: 15;
}

ul:hover{
    background-color: cadetblue;
    opacity: .8;
    font-size: 20;
    color: white;
    cursor: pointer;
}

.experience{
    font-family: cursive;
    background-color: rgb(26, 99, 99);
}
.description{
    color: rgb(216, 208, 208);
}
.interest{
    list-style: square;
    color: rgb(214, 214, 213);
    padding: 15px;
    margin: 5px;
}